* {
  margin: 0;
  padding: 10;
}

body {
  background-color: rgb(207, 107, 182);
  background-image: linear-gradient(
    to left,
    rgb(70, 18, 57),
    rgb(29, 42, 116)
  );
}
h2 {
  color: whitesmoke;
  background-color: rgb(59, 14, 95);
  font-family: "Segoe UI";
  text-align: center;
  height: 100px;
  font-size: 50px;
  border: rgb(204, 204, 204);
  padding-top: 15px;
}
ul {
  color: rgb(204, 204, 204);
  font-family: "Lucida Sans", sans-serif;
  height: 100px;
  font-size: 50px;
  white-space: nowrap;
  display: inline-block;
  list-style-type: none;
}

.bandfoto {
  float: right;
  padding-right: 5px;
}
S p {
  color: whitesmoke;
  font-family: "Segoe UI";
  text-align: center;
  height: 100px;
  font-size: 30px;
}
video {
  opacity: 0.8;
  width: 100%;
  height: 30%;
}
.logo {
  display: block;
  position: absolute;
  max-width: 80%;
  top: 13%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1050 px;
  z-index: 30;
  animation: rotation 60s infinite linear;
}
@keyframes rotation {
  to {
    transform: rotate(359deg);
  }
}
.iglogo {
  display: inline-block;
  margin-right: 60px;
  margin-top: 30px;
  width: 50px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
}
.fblogo {
  display: inline-block;
  margin-right: 120px;
  margin-top: 30px;
  width: 50px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
form {
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 40px;
  font-size: 2em;
}
input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
